langchain
langchain-core
langchain-community
pypdf
pymupdf
sentence-transformers
faiss-cpu
chromadb
langchain-groq
python-dotenv
typesense
langchain_openai
langgraph
streamlit
langchain-text-splitters

langchain>=0.2.0
langchain-huggingface>=0.1.0
huggingface_hub>=0.23.0

